chromadb
gradio
ipykernel
langchain
langchain-chroma
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters
langgraph
langgraph-checkpoint
langsmith
numpy
pandas
pydantic
pydantic_core
pypdf
pyprojroot
PyYAML
SQLAlchemy
spaces
